// src/styles/variables.module.scss

// 导入 variables.scss 文件的变量
// 导出 variables.module.scss 变量提供给TypeScript使用
:export {
  bgColor: $bg-color;
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
